<html>
<style type="text/css">
  /*body
  {
    background-color: lightgray;
  }*/
  table
   { font-size: 20px;
     
   }
   td
   { width: 30%; }
</style>
<body>
<h1><center><font size="15">Listing Authors</font></center></h1>
<br>
 <center>

  <form action="/search1">
    <font size="3">Search <input type="text" name="authorname" placeholder="Enter the AuthorName">
    <input type="submit" value="Go"></font>
  </form>
  <br>
<table cellpadding= "10" border="2">
  <tr>
    <th><strong>Authors</strong></th>
    <td></td>
  </tr>
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.author_name %></td>
      <td><%= link_to 'show', showeach_path(author) %></td>
      
    </tr>
  <% end %>


 </center>
</body>
</html>
