<html>
<style type="text/css">
  
  table
   { font-size: 24px; }
</style>
<body>
<center>
<table cellpadding="15" border="5" font-size="20">
  <tr>
  	<td><strong>Author:</strong></td>
	<td><%= @author.author_name %></td>
</tr>

<tr>
    <td><strong>Articles:</strong></td>
    <% @articles.each do |article|%>
  <td><%= article.title %></td>
  <%end%>
</tr>
 

</table>
<br>
<h2><%= link_to 'Edit', edit_author_path(@author) %></h2>
<h2><%= link_to 'Display Author Table', authors_path(@author) %></h2>

</center>
</body>
</html>
