<html>
<head>
    <title> Sample Sign up App</title>
    <script></script>
    <style type="text/css">
      nav {
    margin: 0;
    /* width: 1980px; */
    height: 45px;
    left: 0;
    .border: ;
    width: 100%;
    right: 0;
    padding: 0;
    .shadow: ;
    background-color: black !important;
}
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  float: right;
  right: 150px !important;
  position: relative;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 32px;
  height: auto;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none !important;
  color: #fff;
  display: block;
}

 .nav2 li{
font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 32px;
  height: auto;
  border-bottom: 1px solid #888;
 }

 .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: lightgray !important;
}
.nav-pills > li > a {
    border-radius: 0px !important;
}
.nav li{
  line-height: 27px !important;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 45px;
}

.sidebar {
  height: 88.5%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 48px;
  left: 0;
  background-color: darkgreen;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

    </style>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="sign up form css.css">-->
</head>
<body>

<nav class="nav navbar-left">
  <nav class="navbar navbar-default" role="navigation" aria-expanded="false">
  <div class="nav">
    <ul class="nav nav-pills">
        
        <li role="presentation"><a href="http://localhost:3000/authors/sign_up">Sign Up</a></li>
        <li role ="presentation"><a href="http://localhost:3000/authors/sign_in">Login</a></li>
      </ul>
  </div>
 </nav>
</nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The sidebar -->
<div class="sidebar">
  <a href="http://localhost:3000"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="#services"><i class="fa fa-fw fa-user"></i> About</a>
  
</div>
<div class="footer">
  
</div>





</body>
</html>
