<html>
<style type="text/css">
	body
  {background-image: url("https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  }
</style>
<body>
<body>
<center>
<h1><font size="20px">Hello Manohar,</font></h1><br>
<h2><font size="20px">Welcome to your first App</font></h2>

<h2><%= link_to 'My Blog', controller: 'authors' %></h2>
</center>
</body>
</html>
